html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}
/* FONTS
    font-family: 'Roboto', sans-serif;
        light, regular*/


/* TEXT STYLING
    Header Navagation
        Catamaran, Semibold, 18px
        Right, Line height: 29px
    Footer
        Roboto, Regular, 18px
        Center, Line height: 29px */


/* COLOURS
    Scarlet (red)
        #BA0621
        186, 6, 33
    Very dark brown
        #0B0101
        11, 1, 1
    Lipstick (lighter red)
        #CC1D36
        204, 29, 54
    Wine red (darker red)
        #6C0918
        108, 9, 24 */
html {
    font-size: 62.5%;
}

body {
    background: #0B0101;
    color: #0B0101;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.9rem;
}

main {
    background-color: rgb(250, 250, 251);
}

h1,
h3,
h4,
h5,
a,
button {
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
}

a,
button,
h2,
h4,
footer {
    color: white;
}

h1 {
    font-size: 11.62rem;
    line-height: 9.7rem; 
    letter-spacing: 0.1rem;
    color: #CC1D36;
    margin-bottom: 0;
}

h1 span,
h3 span,
footer span {
    display: block;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 3.1rem;
    line-height: 3.16rem;
    letter-spacing: 0.03rem;
    text-transform: lowercase;
    font-weight: unset;
    margin-top: 1.5rem;
}
h3 {
    margin: 0;
    font-size: 4.2rem;
    line-height: 4.3rem;
}
h4 {
    font-size: 3rem;
    margin: 1.5rem;
}

h5 {
    margin: 0 0 1.5rem 0;
    font-size: 2.5rem;
}
a,
button {
    text-decoration: none;
    font-size: 2rem;
    line-height: 2.9rem;
    display: inline-block;
    text-align: center;
}

.header-navigation span a {
    font-family: 'Catamaran', sans-serif;
    font-size: 1.8rem;
}

.button {
    padding: 1rem 2.5rem;
    background-color: #BA0621;
}

ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

footer p {
    font-weight: 400;
    font-size: 1.8rem;
    margin: 0;
}

.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.spacing {
    padding: 10rem 0;
}

img {
    display: block;
    width: 100%;
}

header {
    height: 100vh;
    background: url(./assets/image-1@2x.png);
    background-size: cover;
    background-position: center ;
    position: relative;
}
header .wrapper {
    height: 100%;
    position: relative;
}

header .hamburger {
    display: none;
}

header a {
    width: 100%;
    height: 100%;
    padding: 1rem;
}


.header-navigation {
    padding-top: 1rem;
}

.header-navigation li {
    display: inline-block;
    margin-left: 2rem;
}

.header-navigation li:first-of-type {
    margin-left: 0;
}

.header-navigation li:first-of-type a {
    text-align: left;
    margin-left: 0;
}

.header-navigation span {
    float: right;
}

.header-title {
    position: absolute;
    left: 0;
    bottom: 12%;
}
.header-social {
    position: absolute;
    right: 4%;
    bottom: 5%;
}
.header-social a {
    font-size: 2.4rem;
    padding: 0.8rem 1rem;
}
.main-articles {
    text-align: center;
}

.main-articles-gallery .image-container{
    width: calc((100% - 8rem) / 3);
    float: left;
    margin: 0 2rem;
}
.main-articles-gallery .image-container:first-of-type,
footer .container:first-of-type {
    margin-left: 0;
}
.main-articles-gallery .image-container:last-of-type,
footer .container:last-of-type {
    margin-right: 0;
}

.main-articles-highlight h3 {
    margin-top: 0;
}
.main-articles-highlight .image-container {
    float: left;
    width: 25%;
}

.main-articles-highlight .text-container {
    float: left;
    text-align: left;
    width: 75%;
    padding-left: 4rem;
}

.main-featured .feature-container {
    clear: both;
    position: relative;
}

.main-featured .image-container,
.main-featured .text-container {
    width: 50%;
}
.main-featured .feature-container:nth-of-type(even) .text-container,
.main-featured .feature-container:nth-of-type(odd) .image-container,
.main-featured .feature-container:nth-of-type(odd) .text-container .inner {
    float: right;
}

.main-featured .feature-container:nth-of-type(odd) .text-container,
.main-featured .feature-container:nth-of-type(even) .image-container,
.main-featured .feature-container:nth-of-type(even) .text-container .inner {
    float: left;
}

.main-featured .text-container .inner {
    clear: both;
    max-width: 600px;
    padding: 10% 10% 0 10%;
}

.main-featured .feature-container:nth-of-type(odd) .text-container .inner {
    padding-left: 0;
}

.main-featured .feature-container:nth-of-type(even) .text-container .inner {
    padding-right: 0;
}

.main-links {
    display: block;
    width: 100%;
    background: url(./assets/oscar-aguilar-327500-unsplash@2x.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
    top: -1px;
}

.main-links i {
    color: #CC1D36;
    font-size: 5rem;
}

.main-links-content {
    float: left;
    width: calc(100% / 3);
}

footer {
    position: relative;
    top: -1px;
    background-color: #6C0918;
}
.footer-subscribe {
    float: left;
    width: 50%;
}

.footer-content {
    float: left;
    width: calc(50% - 8rem);
    margin-left: 4rem;
}
.footer-contact {
    float: left;
}

.footer-navigation {
    float: right;
}

footer nav {
    text-align: right;
}

footer form {
    background-color: white;
    display: block;
    height: 5.5rem;
    margin-top: 1rem;
}

footer button,
footer input[type="email"] {
    border: none;
    display: inline-block;
    height: 100%;
}

button {
    background-color: #0B0101;
    float: right;
    width: 25%;
}

button:hover {
    cursor: pointer;
}

footer input[type="email"] {
    font-family: inherit;
    display: inline-block;
    /* height: 100%; */
    width: 75%;
    padding-left: 4rem;
}

footer span p:last-child {
    margin-bottom: 0;
    background: #0B0101;
    text-align: center;
    padding: 0.5rem;
}

@media (max-width: 1334px) {
    .main-featured .feature-container .text-container .inner {
        position: absolute;
        bottom: 50%;
        transform: translateY(50%);
        width: 50%;
    }
    .main-featured .feature-container:nth-of-type(odd) .text-container .inner,
    .main-featured .feature-container:nth-of-type(even) .text-container .inner {
        padding: 0 5%;
    }
}

@media (max-width: 1050px) {
    .spacing {
        padding: 7.5rem 0;
    }
    h3 {
        font-size: 3rem;
        line-height: 3.1rem;
    }
    footer .container {
        width: 100%;
    }

    form {
        width: 75%;
        min-width: 570px;
    }
    
    .footer-content {
        margin-top: 4rem;
        margin-left: 0;
    }
    .main-featured p {
        margin: 1.5rem 0;
    }
}

@media (max-width: 940px) {
    body,
    footer p,
    .button,
    button {
        font-size: 1.6rem;
        line-height: 2.3rem;
    }
    h1 {
        font-size: 9rem;
        line-height: 7.5rem; 
    }
    h2 {
        font-size: 2.5rem;
        line-height: 2.55rem;
    }
    h4 {
        font-size: 2.5rem;
    }
}
@media (max-width: 850px) {
    .main-articles-highlight .image-container {
        width: calc((100% - 8rem) / 3);
    }
    
    .main-articles-highlight .text-container {
        width: calc((100% - 8rem) / 3 * 2 + 8rem);
    }

    .main-featured .feature-container:nth-of-type(odd) .text-container .inner,
    .main-featured .feature-container:nth-of-type(even) .text-container .inner {
        padding: 0 10% 7.5rem 10%;
    }

    .main-featured .feature-container .text-container .inner {
        position: unset;
        width: 100%;
        transform: none;
    }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    header {
        background-position: 38%;
    }
}

@media (max-width: 640px) {
    header li a {
        display: none;
    }
    header .hamburger {
        display: block;
        position: absolute;
        width: 4.4rem;
        height: 4.4rem;
        right: 0;
        top: 2%;
    }
    header .hamburger:hover {
        cursor: pointer;
    }
    form {
        width: 100%;
        min-width: unset;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .spacing {
        padding: 5rem 0;
    }
    h1 {
        font-size: 7.5rem;
        line-height: 6.2rem;
    }
    h2 {
        font-size: 2rem;
    line-height: 2.1rem;
    margin-top: 0.7rem;
    }

    .header-title {
        bottom: 15.5%;
    }
    .main-articles-gallery {
        padding-bottom: 8.5rem;
    }
    .main-articles-gallery .image-container:last-of-type {
        display: none;
    }
    .main-articles-gallery .image-container:nth-of-type(2) {
        margin-right:0;
    }
    .main-articles-gallery .image-container {
        width: calc(50% - 20px);
    }
    .main-articles-highlight .text-container {
        padding-left: 0;
    }
    .text-container {
        margin-top: 5rem;
    }
    .main-articles-highlight .button {
        padding: 2rem 3rem;
    }

    .main-featured .feature-container:nth-of-type(odd) .text-container .inner,
    .main-featured .feature-container:nth-of-type(even) .text-container .inner {
        padding-bottom: 5rem;
    }
    .main-articles-highlight .image-container,
    .main-articles-highlight .text-container,
    .main-featured .image-container,
    .main-featured .text-container,
    .main-links-content,
    footer button,
    footer input[type="email"] {
        width: 100%;
    }
    .main-featured,
    .footer-subscribe {
        text-align: center;
    }
    .main-links {
        background-image: url(./mobile-assets/links-background.png);
        background-size: 200%;
        background-repeat: no-repeat;
        background-color: #0B0101;
    }
    .main-links-content {
        margin-bottom: 2rem;
    }
    .main-links-content:last-of-type {
        margin-bottom: 0;
    }
    footer form {
        background: none;
    }

    footer input[type="email"] {
        margin-bottom: 1rem;
        padding-left: 0;
        text-align: center;
    }
}