html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}
/* FONTS
    font-family: 'Roboto', sans-serif;
        light, regular*/


/* TEXT STYLING
    Header Navagation
        Catamaran, Semibold, 18px
        Right, Line height: 29px
    Footer
        Roboto, Regular, 18px
        Center, Line height: 29px */


/* COLOURS
    Scarlet (red)
        #BA0621
        186, 6, 33
    Very dark brown
        #0B0101
        11, 1, 1
    Lipstick (lighter red)
        #CC1D36
        204, 29, 54
    Wine red (darker red)
        #6C0918
        108, 9, 24 */

body,
html {
    background: #0B0101;
    color: #0B0101;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 29px;
}

main {
    background-color: rgb(250, 250, 251);
}

h1,
h3,
h4,
h5,
a,
button {
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
}

a,
button,
h2,
h4,
footer {
    color: white;
}

h1 {
    font-size: 116.2px;
    line-height: 97px; 
    letter-spacing: 1px;
    color: #CC1D36;
    margin-bottom: 0;
}

h1 span,
h3 span,
footer span {
    display: block;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 31px;
    line-height: 31.6px;
    letter-spacing: 0.3px;
    text-transform: lowercase;
    font-weight: unset;
    margin-top: 15px;
}
h3 {
    margin: 0;
    font-size: 42px;
    line-height: 43px;
}
h4 {
    font-size: 30px;
    margin: 15px;
}

h5 {
    margin: 0 0 15px 0;
    font-size: 25px;
}
a,
button {
    text-decoration: none;
    font-size: 20px;
    line-height: 29px;
    display: inline-block;
    text-align: center;
}

.header-navigation span a {
    font-family: 'Catamaran', sans-serif;
    font-size: 18px;
}

.button {
    padding: 10px 25px;
    background-color: #BA0621;
}

ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

footer p {
    font-weight: 400;
    font-size: 18px;
    margin: 0;
}

.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

img {
    display: block;
    width: 100%;
}

header {
    height: 100vh;
    background: url(./assets/image-1@2x.png);
    background-size: cover;
    background-position: center ;
    position: relative;
}
header .wrapper {
    height: 100%;
    position: relative;
}
header a {
    width: 100%;
    height: 100%;
    margin: 5px;
}


.header-navigation {
    padding-top: 10px;
}

.header-navigation li {
    display: inline-block;
    padding: 10px;
}

.header-navigation span {
    float: right;
}

.header-title {
    position: absolute;
    left: 0;
    bottom: 12%;
}
.header-social a {
    font-size: 24px;
    margin: 4px;
}
.header-social {
    position: absolute;
    right: 4%;
    bottom: 5%;
}
.main-articles {
    text-align: center;
}

.main-news-articles h3 {
    padding: 100px;
}

.main-articles-gallery .image-container{
    width: calc((100% - 80px) / 3);
    float: left;
    margin: 0 20px 0 20px;
}
.main-articles-gallery .image-container:first-of-type,
footer .container:first-of-type {
    margin-left: 0;
}
.main-articles-gallery .image-container:last-of-type,
footer .container:last-of-type {
    margin-right: 0;
}

.main-articles-highlight .image-container {
    float: left;
    width: 25%;
}

.main-articles-highlight {
    padding: 100px 0;
}

.main-articles-highlight .text-container {
    float: right;
    width: 75%;
    text-align: left;
    padding-left: 40px;
}

.main-articles-highlight h3 {
    margin-top: 0;
}

.main-featured .image-container,
.main-featured .text-container {
    width: 50%;
}
.main-featured .feature-container:nth-of-type(even) .text-container,
.main-featured .feature-container:nth-of-type(odd) .image-container,
.main-featured .feature-container:nth-of-type(odd) .text-container div {
    float: right;
}

.main-featured .feature-container:nth-of-type(odd) .text-container,
.main-featured .feature-container:nth-of-type(even) .image-container,
.main-featured .feature-container:nth-of-type(even) .text-container div {
    float: left;
}

.main-featured .text-container div {
    clear: both;
    max-width: 600px;
    padding: 13% 10% 10% 10%;
}

.main-featured .feature-container:nth-of-type(odd) .text-container div {
    padding-left: 0;
}

.main-featured .feature-container:nth-of-type(even) .text-container div {
    padding-right: 0;
}

.main-links {
    display: block;
    width: 100%;
    background: url(./assets/oscar-aguilar-327500-unsplash@2x.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
    top: -1px;
}

.main-links i {
    color: #CC1D36;
    font-size: 50px;
}

.main-links-content {
    float:left;
    width: calc(100% / 3 - 100px);
    margin: 50px;
    padding: 50px 0;
}

footer {
    position: relative;
    top: -1px;
    background-color: #6C0918;
}
footer .wrapper {
    padding: 100px 0;
}
footer .container {
    float: left;
    margin: 0 40px;
    width: 50%;
}

footer .container:last-of-type {
    width: calc(50% - 80px);
}
.footer-contact {
    float: left;
}

.footer-navigation {
    float: right;
}

footer nav {
    text-align: right;
}

footer form {
    background-color: white;
    display: block;
    height: 55px;
    margin-top: 10px;
}

footer button,
footer input[type="email"] {
    border: none;
    display: inline-block;
    height: 100%;
}

button {
    background-color: #0B0101;
    float: right;
    width: 25%;
}

button:hover {
    cursor: pointer;
}

footer input[type="email"] {
    font-family: inherit;
    display: inline-block;
    height: 100%;
    width: 75%;
    padding-left: 40px;
}

footer span p:last-child {
    margin-bottom: 0;
    background: #0B0101;
    text-align: center;
    padding: 5px;
}

@media (max-width: 1334px) {
    .main-featured .feature-container .text-container div {
        max-width: none;
        float: none;
    }
    .main-featured .feature-container:nth-of-type(odd) .text-container div {
        padding-left: 10%;
    }
    
    .main-featured .feature-container:nth-of-type(even) .text-container div {
        padding-right: 10%;
    }
}